<%= stylesheet_link_tag params[:controller] %>
<div>
	<div class="col-md-5" style="-webkit-transition: none;-webkit-transition: none; transition: none; background-color: rgba(255, 255, 255, 0.74902);">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<div class="row">
				<h3>Megan Wenzinger</h3>
				<p>I am a programmer by trade and a maker at heart. I love programming because it's like solving a giant puzzle with many solutions - trying to find the right piece to most elegantly solve the next problem, and the project as a whole.</p>
				<p>In my spare time, I mentor a high shool robotics team in Durham. I have also been volunteering at Maker Faire North Carolina since it's first year. When not busy with work, robots and MFNC, I enjoy sewing, woodworking, reading and being in nature. </p>
			</div>
			<br />
			<div class="row">
				<h4>Contact Me</h4>
				<div class="col-md-2">
					<a href="mailto:contact@MegWenzinger.com" target="_blank"><%=fa_icon("envelope fw 3x")%></a>
				</div>
				<div class="col-md-2">
					<a href="https://www.linkedin.com/pub/megan-wenzinger/27/726/270" target="_blank"><%=fa_icon("linkedin fw 3x")%></a>
				</div>
				<div class="col-md-2">
					<a href="https://plus.google.com/+MegWenzinger" target="_blank"><%=fa_icon("google-plus fw 3x")%></a>
				</div>
				<div class="col-md-2">
					<a href="https://www.facebook.com/mnwenzinger" target="_blank"><%=fa_icon("facebook fw 3x")%></a>
				</div>
			</div>
		</div>
	</div>
</div>
