<h1 class="text-pink text-center">Maker Faire North Carolina</h1>
<div class="col-md-5">
	<p>
		Maker Faire North Carolina (MFNC) was a giant show-and-tell. Started in 2010, MFNC started out as a small event held at an abandoned department store building. By its last year in 2014, it was an event with over 6,000 makers and attendees.
	</p>
	<p>
		As the sponsor recruiter for MFNC, I was responsible for finding sponsors, onboarding them, and then ensuring they remained as sponsors for as long as possible.  After a sponsor was on board, I fulfilled all the duties as described by their sponsor contract, as well as continuing to follow up with any needs they might have had.
	</p>
	<p>
		On the weekend of the event, I helped run sales, coordinate volunteers, and perform other odd jobs. During the short breaks at event, it was a lot of fun to walk around and learn about everything from knitting to blacksmithing to jewelery making. 
	</p>
	<p>
		MFNC was an amazing event. Not only because it educated thousands of people, but also because I learned so much about working with a team, coordinating large events, and talking with professionals from a multitude of companies and sponsors.
	</p>

</div>
<div class="col-md-7">
	<div id="carousel-mfnc" class="carousel slide" data-ride="carousel" >
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-mfnc" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-mfnc" data-slide-to="1"></li>
	    <li data-target="#carousel-mfnc" data-slide-to="2"></li>
		<li data-target="#carousel-mfnc" data-slide-to="3"></li>
		<li data-target="#carousel-mfnc" data-slide-to="4"></li>
		<li data-target="#carousel-mfnc" data-slide-to="5"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox" >
	    <div class="item active">
			<%=image_tag("LearnToSolder.jpg", alt:"Learn to Solder")%>
	      	<div class="carousel-caption">
	        	Learn to Solder booth at Maker Faire NC 2014
	      	</div>
	    </div>
	    <div class="item">
	      <%=image_tag("MFNC2012.jpg", alt:"Maker Faire NC 2012")%>
	      <div class="carousel-caption">
	        Maker Faire NC 2012
	      </div>
	    </div>
	    <div class="item">
	      <%=image_tag("MFNC2014.jpg", alt:"Maker Faire 2014")%>
	      <div class="carousel-caption">
	        Maker Faire 2014
	      </div>
	    </div>
	    <div class="item">
	      <%=image_tag("MFNC2014(2).jpg", alt:"Maker Faire 2014 Balloon Launch")%>
	      <div class="carousel-caption">
	        Maker Faire 2014 Balloon Launch
	      </div>
	    </div>
	    <div class="item">
	      <%=image_tag("PhotoBooth.jpg", alt:"Meg and Marshall at the Photo Booth")%>
	      <div class="carousel-caption">
	        Meg and Marshall at the Photo Booth, Maker Faire 2012
	      </div>
	    </div>
	    <div class="item">
	      <%=image_tag("Stamp.jpg", alt:"Maker Faire Stamp")%>
	      <div class="carousel-caption">
	        Maker Faire North Carolina
	      </div>
	    </div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-mfnc" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-mfnc" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
	<script>
	$('.carousel').carousel({
	  interval: 5000
	})
	</script>
</div>