<h1 class="text-pink text-center">Robots!</h1>
<div class="col-md-5">
	<p>
		After work, I mentor a FIRST Robotics Competition Team, Team 900 - The Zebracorns. The robotics team teaches students programming, advanced manufacturing, Computer Aided Design, time management, and project management.  In addition to learning these valuable skills, our students go to events all over the triangle to promote STEM education to other students of all ages.
	</p>
	<p>
		Starting in August, the students learn as much as they can to help prepare for the coming year's challenge.  Lessons on tool use occur simultaneously with discussions on advanced video processing, computer aided design, and fund-raising.
	</p>
	<p>
		On the first Saturday in January, FIRST (For Inspiration and Recognition of Science and Technology) releases the challenge for that year. The students then spend the next 6 weeks brainstorming, designing, building, programming and testing the robot. It's insane!
	</p>
	<p>
		The competitions are a cross between a sporting event and a festival. Teams from all over the world come dressed up in their team costumes, loud music is played and there is never enough time for sleeping. Among the commotion and spectacle, students are busy competing, repairing robots between matches, completing detailed statistical analysis on the other teams at the event, and talking about their passions with other students.
	</p>
</div>
<div class="col-md-7">
	<div id="carousel-robots" class="carousel slide" data-ride="carousel" >
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-robots" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-robots" data-slide-to="1"></li>
	    <li data-target="#carousel-robots" data-slide-to="2"></li>
		<li data-target="#carousel-robots" data-slide-to="3"></li>
		<li data-target="#carousel-robots" data-slide-to="4"></li>
		<li data-target="#carousel-robots" data-slide-to="5"></li>
		<li data-target="#carousel-robots" data-slide-to="6"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox" >
	    <div class="item active">
			<%=image_tag("Outreach2.jpg", alt:"Teaching kids about robots")%>
	      	<div class="carousel-caption">
	        	Teaching kids about robots
	      	</div>
	    </div>
	    <div class="item">
	      <%=image_tag("BlueBanner.jpg", alt:"BlueBanner")%>
	      <div class="carousel-caption">
	        First Place aliance, North Carolina Regional, 2014
	      </div>
	    </div>
	    <div class="item">
	      <%=image_tag("Championships.jpg", alt:"championships")%>
	      <div class="carousel-caption">
	        FIRST World Championships, St. Louis 2014
	      </div>
	    </div>
	    <div class="item">
	      <%=image_tag("Outreach.jpg", alt:"Robotics Outreach")%>
	      <div class="carousel-caption">
	        Teaching kids about robots
	      </div>
	    </div>
	    <div class="item">
	      <%=image_tag("CityMuseum.jpg", alt:"City Museum")%>
	      <div class="carousel-caption">
	        Hanging around the City Museum in St Louis, 2014
	      </div>
	    </div>
	    <div class="item">
	      <%=image_tag("ExplainRobot.jpg", alt:"Explaining Robots")%>
	      <div class="carousel-caption">
	        Explaining robots
	      </div>
	    </div>
	    <div class="item">
	      <%=image_tag("DinnerRobots.jpg", alt:"Robotics Team Dinner")%>
	      <div class="carousel-caption">
	        Dinner with the team
	      </div>
	    </div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-robots" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-robots" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
	<script>
	$('.carousel').carousel({
	  interval: 5000
	})
	</script>
</div>
